*{
    font-family: "Poppins", sans-serif;
}

ul{
    border: solid 1px red;
}

li{
    padding:6px;
}

li:hover{
    background-color: white;
}

#logo{
    animation-name: anime;
}
#panel{
    /* border:solid 0.5px black;  */
    background-color: #e4e4e4;
    padding:3px;
}



.slide{
    width: 98%; 
    margin: auto;
    margin-top: 14px; 
}

#flip{
    
    text-align: center;
    font-size: 2rem;
}

.img1{
    width: 60px;
    animation-name:anime;
    animation-delay: 0.3s;
    animation-duration: 3s;
    position: relative;
    /* display: none; */
    animation-fill-mode:both;
    animation-timing-function: ease-in-out;
}

@keyframes anime{
    0%{
       transform:scale(0,0);
       
       transform: rotateY(0deg);
    }

    25%{
        transform:scale(0.2,0.2);
    }

    50%{
        

    }

    75%{
        
  
    }

    100%{
        transform: scale(1,1);
        transform: rotateY(150deg);
        box-shadow: 0px 0px 25px white;
    }
}


fieldset{
    width: 19%;
    margin: auto;
    margin-top: 20px;
}

label:hover{
    cursor: pointer;
}

#panel{
    display: none;
}
